.nav-link{
    font-weight:400;
}



#container1{
    margin-left: 100px;
    margin-top: 50px;
}

#submit{
    width:200px;
    height:35px;
    border-radius: 7px;
}

.form-control{
    width:300px;
    height:35px;
    border-radius: 7px;
}



.search{
    height:30px;
    width:30px;
    color:#343a40;
}

.loc{
    height:30px;
    width:30px;
    color:#343a40;
}

#container2{
    margin-top: 50px; 
    margin-left: 100px;  
}

h3{
    margin-left: 100px;
    color:#343a40;
}

#container3{
    margin-top: 50px;   
}

#container4{
    margin-top: 50px; 
}



.d-block{
    height:200px;
    width:250px;
}

#fileChoosen{
    margin-left: 100px;
    margin-top:10px;
}